* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameScreen {
  height: 500px;
  width: 900px;
  background-color: rgb(169, 190, 190);
  cursor: url("target.png") 15 15, auto;
}

.menuWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  line-height: 100px;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.lose {
  line-height: 200px;
  text-align: center;
  font-size: 66px;
  font-weight: bold;
}

.target {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: repeating-radial-gradient(
    red,
    red 4px,
    pink 4px,
    pink 8px,
    red 8px
  );
  border-radius: 20px;
  cursor: url("target.png") 15 15, auto;
  &:active {
    background-image: radial-gradient(orange, yellow);
  }
}

.score {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  left: 130px;
}

.lives {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  left: 10px;
}
